{% extends 'main.html.twig' %}
{% block main_title %}Paragony - Lista{% endblock %}

{% block body %}

{{ form_start(form, {'attr': {'id': 'bill_form'}}) }}
    <div class="my-custom-class-for-errors">
        {{ form_errors(form) }}
    </div>

    <div class="row">
        <div class="col">
            {{ form_row(form.shop) }}
        </div>
        <div class="col">
            {{ form_row(form.date) }}
        </div>
        <div class="col">
            {{ form_row(form.summary_brutto) }}
        </div>
        <div class="col">
            {{ form_row(form.summary_netto) }}
        </div>
    </div>

    <div class="row">
        <ul class="positions" data-prototype='{% include 'bill/_newRow.html.twig' %}'>
            {# iterate over each existing tag and render its only field: name #}
            {% for position in form.positions %}
                <li>
                    <div class="row">
                        <div class="col-lg-3">{{ form_row(position.name) }}</div>
                        <div class="col-lg-3">{{ form_row(position.brutto) }}</div>
                        <div class="col-lg-3">{{ form_row(position.netto) }}</div>
                        <div class="col-lg-3 option-column"></div>
                    </div>
                </li>
            {% endfor %}
        </ul>
    </div>

    <div style="margin-bottom: 10px;"></div>        
    
{{ form_end(form) }}

{{ form_start(formDropFile, {
    'attr': {
        'id': 'billDropzone',
        'class': 'dropzone',
        'name': 'billScan',
        'action': path('uploadScan',{'id':id})
    }
}) }}
    {{ form_row(formDropFile._token) }}
</form>{#{{ form_end(formDropFile) }}#}

<input id="submit_form" style="margin-top:20px" type="button" class="btn btn-primary" value="Save" />
    


<script>
    jQuery(document).ready(function() {
        var positions = new collectionForm('ul.positions');

        jQuery('#submit_form').click(function(){
            jQuery('#bill_form').submit();
        });
    });

    Dropzone.options.billDropzone = {
        paramName: "billScan[billFile]", // The name that will be used to transfer the file
    };
    
</script>

{% endblock %}