{% extends 'main_body.html.twig' %}
{% block main_title %}Paragony - Edycja{% endblock %}

{% block main_content %}

{{ form_start(form, {'attr': {'id': 'bill_form'}}) }}
    <div class="my-custom-class-for-errors">
        {{ form_errors(form) }}
    </div>

    <div class="row">
        <div class="col-lg-9">
            {{ form_row(form.shop) }}
        </div>
        <div class="col-lg-3">
            {{ form_row(form.date) }}
        </div>
        <div class="col-lg-6">
            {{ form_row(form.summary_brutto) }}
        </div>
        <div class="col-lg-6">
            {{ form_row(form.summary_netto) }}
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <table class="table positions" data-prototype='{% include 'bill/_newRow.html.twig' %}'>
                <thead>
                    <tr>
                        <th>Nazwa</th>
                        <th>Brutto</th>
                        <th>Netto</th>
                        <th>Operacje</th>
                    </tr>
                </thead>
                <tbody>
                {# iterate over each existing tag and render its only field: name #}
                {% for position in form.positions %}
                    <tr>
                        <td>{{ form_widget(position.name) }}</td>
                        <td>{{ form_widget(position.brutto) }}</td>
                        <td>{{ form_widget(position.netto) }}</td>
                        <td class="option-column"></td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    <div style="margin-bottom: 10px;"></div>        
    
{{ form_end(form) }}

{{ form_start(formDropFile, {
    'attr': {
        'id': 'billDropzone',
        'class': 'dropzone',
        'name': 'billScan',
        'action': path('uploadScan',{'id':id})
    }
}) }}
    {{ form_row(formDropFile._token) }}
</form>{#{{ form_end(formDropFile) }}#}

    <div class="row">
        <div class="col-lg-12" id="bill_fotos">
            {{ render(controller(
                'App\\Controller\\BillController::fotos',
                { 'id': id }
            )) }}
        </div>
    </div>

<input id="submit_form" style="margin-top:20px" type="button" class="btn btn-primary" value="ZAPISZ" />
    


<script>
    jQuery(document).ready(function() {
        var positions = new collectionFormTable('table.positions');

        jQuery('#submit_form').click(function(){
            jQuery('#bill_form').submit();
        });
    });

    Dropzone.options.billDropzone = {
        paramName: "billScan[billFile]", // The name that will be used to transfer the file
        init: function() {
            this.on("complete", function(file) {
                jQuery.ajax({
                    url: '/fotos/{{ id }}',
                    success: function (data) {
                        jQuery('#bill_fotos').html(data);
                    }
                });
            });
        }
    };
    
</script>

{% endblock %}